[submodule "scipion-em-relion"]
	path = scipion-em-relion
	url = git@github.com:scipion-em/scipion-em-relion
[submodule "scipion-em-eman2"]
	path = scipion-em-eman2
	url = git@github.com:scipion-em/scipion-em-eman2
[submodule "scipion-em-spider"]
	path = scipion-em-spider
	url = git@github.com:scipion-em/scipion-em-spider
[submodule "scipion-em-motioncorr"]
	path = scipion-em-motioncorr
	url = git@github.com:scipion-em/scipion-em-motioncorr
[submodule "scipion-em-gctf"]
	path = scipion-em-gctf
	url = git@github.com:scipion-em/scipion-em-gctf
[submodule "scipion-em-gautomatch"]
	path = scipion-em-gautomatch
	url = git@github.com:scipion-em/scipion-em-gautomatch
[submodule "scipion-em-cryoef"]
	path = scipion-em-cryoef
	url = git@github.com:scipion-em/scipion-em-cryoef
[submodule "scipion-em-nysbc"]
	path = scipion-em-nysbc
	url = git@github.com:scipion-em/scipion-em-nysbc
[submodule "scipion-em-imagic"]
	path = scipion-em-imagic
	url = git@github.com:scipion-em/scipion-em-imagic
[submodule "scipion-em-grigoriefflab"]
	path = scipion-em-grigoriefflab
	url = git@github.com:scipion-em/scipion-em-grigoriefflab.git
[submodule "scipion-em-cryomethods"]
	path = scipion-em-cryomethods
	url = git@github.com:mcgill-femr/scipion-em-cryomethods.git
