[submodule "scipion-em-relion"]
	path = scipion-em-relion
	url = git@github.com:scipion-em/scipion-em-relion
	branch = devel
[submodule "scipion-em-eman2"]
	path = scipion-em-eman2
	url = git@github.com:scipion-em/scipion-em-eman2
	branch = devel
[submodule "scipion-em-spider"]
	path = scipion-em-spider
	url = git@github.com:scipion-em/scipion-em-spider
	branch = devel
[submodule "scipion-em-motioncorr"]
	path = scipion-em-motioncorr
	url = git@github.com:scipion-em/scipion-em-motioncorr
	branch = devel
[submodule "scipion-em-gctf"]
	path = scipion-em-gctf
	url = git@github.com:scipion-em/scipion-em-gctf
	branch = devel
[submodule "scipion-em-gautomatch"]
	path = scipion-em-gautomatch
	url = git@github.com:scipion-em/scipion-em-gautomatch
	branch = devel
[submodule "scipion-em-cryoef"]
	path = scipion-em-cryoef
	url = git@github.com:scipion-em/scipion-em-cryoef
	branch = devel
[submodule "scipion-em-nysbc"]
	path = scipion-em-nysbc
	url = git@github.com:scipion-em/scipion-em-nysbc
	branch = devel
[submodule "scipion-em-imagic"]
	path = scipion-em-imagic
	url = git@github.com:scipion-em/scipion-em-imagic
	branch = devel
[submodule "scipion-em-grigoriefflab"]
	path = scipion-em-grigoriefflab
	url = git@github.com:scipion-em/scipion-em-grigoriefflab.git
	branch = devel
[submodule "scipion-em-cryomethods"]
	path = scipion-em-cryomethods
	url = git@github.com:mcgill-femr/scipion-em-cryomethods.git
	branch = devel
[submodule "scipion-em-xmipp"]
	path = scipion-em-xmipp
	url = git@github.com:scipion-em/scipion-em-xmipp.git
[submodule "scipion-em-ispyb"]
	path = scipion-em-ispyb
	url = git@github.com:scipion-em/scipion-em-ispyb.git
[submodule "scipion-em-ccp4"]
	path = scipion-em-ccp4
	url = git@github.com:scipion-em/scipion-em-ccp4.git
[submodule "scipion-em-chimera"]
	path = scipion-em-chimera
	url = git@github.com:scipion-em/scipion-em-chimera.git
[submodule "scipion-em-emxlib"]
	path = scipion-em-emxlib
	url = git@github.com:scipion-em/scipion-em-emxlib.git
[submodule "scipion-em-resmap"]
	path = scipion-em-resmap
	url = git@github.com:scipion-em/scipion-em-resmap.git
[submodule "scipion-em-bsoft"]
	path = scipion-em-bsoft
	url = git@github.com:scipion-em/scipion-em-bsoft.git
[submodule "scipion-em-powerfit"]
	path = scipion-em-powerfit
	url = git@github.com:scipion-em/scipion-em-powerfit.git
[submodule "scipion-em-appion"]
	path = scipion-em-appion
	url = git@github.com:scipion-em/scipion-em-appion.git
[submodule "scipion-em-atsas"]
	path = scipion-em-atsas
	url = git@github.com:scipion-em/scipion-em-atsas.git
[submodule "scipion-em-locscale"]
	path = scipion-em-locscale
	url = git@github.com:scipion-em/scipion-em-locscale.git
[submodule "scipion-em-phenix"]
	path = scipion-em-phenix
	url = git@github.com:scipion-em/scipion-em-phenix.git
[submodule "scipion-em-localrec"]
	path = scipion-em-localrec
	url = git@github.com:scipion-em/scipion-em-localrec
[submodule "scipion-em-empiar"]
	path = scipion-em-empiar
	url = git@github.com:scipion-em/scipion-em-empiar.git
[submodule "scipion-em-simple"]
	path = scipion-em-simple
	url = git@github.com:scipion-em/scipion-em-simple.git
[submodule "scipion-em-bamfordlab"]
	path = scipion-em-bamfordlab
	url = git@github.com:scipion-em/scipion-em-bamfordlab.git
[submodule "scipion-em-sphire"]
	path = scipion-em-sphire
	url = git@github.com:scipion-em/scipion-em-sphire
[submodule "scipion-em-topaz"]
	path = scipion-em-topaz
	url = git@github.com:scipion-em/scipion-em-topaz
